.hero {
  background-image: url(../img/hero/background-mobile.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  @extend %flex-center;

  @media (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    background-image: url(../img/hero/background-mobile@2x.jpg);
  }
}
.hero__container {
  @extend %flex-center;
  flex-direction: column;
  gap: 15px;
}
.hero__title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.hero__text {
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.hero__button {
  color: $color-text-primary;
  background-color: $color-button;
  transition-property: color, background-color;
  transition: 0.5s ease;
  &:hover {
    background-color: $color-text-primary;
    color: $color-button;
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/background-tablet.jpg);
    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(../img/hero/background-tablet@2x.jpg);
    }
  }
  .hero__title {
    font-size: 52px;
  }
  .hero__text {
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/background-desktop.jpg);
    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(../img/hero/background-desktop@2x.jpg);
    }
  }
}
