// Colors
$color-text-primary: #ffffff;
$color-text-secondary: #333333;
$color-text-tetriary: #666666;
$color-button: #ff4e50;
//Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
